.block{
    background-color: white;
    margin: 0px 20px;
    padding: 20px;
}
.block>h1{
    color: #6B6D74;
    margin-bottom: 40px;
}
.block span{
    font-weight: 700;
}
.link{
    margin-top: 15px;
    margin-bottom: 40px;
}
.body.night .block{
    background-color: black;
    color: white;
}